version: '3.3'

networks:
  app-network:
    driver: bridge

services:
  postgres:
    build:
      context: ./db
    container_name: postgres-dw
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_pass
      POSTGRES_DB: digital_waiter_db
    ports:
      - "5432:5432"
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis-dw
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    networks:
      - app-network

  backend:
    build:
      context: .
    container_name: backend-dw
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-dw:5432/digital_waiter_db
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin_pass
      SPRING_REDIS_HOST: redis-dw
      SPRING_REDIS_PORT: 6379
    networks:
      - app-network
    depends_on:
      - postgres
      - redis
