version: '3.3'

services:
  postgres:
    build: .
    container_name: postgres-dw
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:admin_pass}
      POSTGRES_DB: ${POSTGRES_DB:digital_waiter_db}
    restart: always

  redis:
    image: redis:7
    container_name: redis-dw
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    restart: always
